.invisible{
    display: none;
}

.search-form{
  
   
    height: 50px;
    width:auto;
    background-color: rgb(245, 195, 195);
}


.button{
    margin-top: 15px;
    color: aliceblue;
    background-color: brown;
    width: 40px;
    height: 25px;
    border: 1px;
   
}
.conteiner-input{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.input{
 
    margin-top: 15px;
height: 20px;
width: 300px;
}
.photocard{
    width: 200px;
    height: 500px;
    border:2px rgb(30, 26, 26);
}
.load-more{
    width: 50px;
    height: 40px;
   
}